html{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	background-color:#CC9966;
	font-family:arial;
}
body{
	height:100%;
	margin: auto;
	padding:0;
	width:966px;
	
}

#logo a {
	color:#F1F1F1;
}
#container{
	width:100%;
	min-height:800px;
	background-color:#663311;
}

.heading{
	font-size:24px;
	color:#dfdfdf;
	text-align:center;
	padding-top:20px;
}
